body {
	color:white;
	background-color:black;
	font-family: 'Vesper Libre', serif;
	
}

h1{
	color: rgb(255,0,0);
  	text-align:  center;
	background-color: rgb(83,0,0);
	margin-left: 300px;
	margin-right: 300px;
	border-width: 5px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-color: rgb(90,0,0);
}

