body {
	color:white;
	background-color:black;
	font-family: 'Vesper Libre', serif;
	
}

h1{
	color: rgb(255,0,0);
  	text-align:  center;
	background-color: rgb(83,0,0);
	margin-left: 2%px;
	margin-right: 2%px;
	border-width: 3%px;
}

nav ul li a:hover {
	background-color: rgb(40,0,0);
	color: rgb(40,0,0);
}

@media screen and (max-width: 600px) {
	nav {
		display: none;
	}
}

