body {
	color:white;
	background-color:black;
	font-family: 'Vesper Libre', serif;
	
}

h1{
	color: rgb(255,0,0);
  	text-align:  center;
	background-color: rgb(83,0,0);
	margin-left: 2%;
	margin-right: 2%;
	border-width: 3%;
}

li {
    float: left;
	
}

a {
    display: block;
    padding: 6px;
    background-color: rgb(70,0,0);
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	nav {
		display: none;
	}
}

